.cardBox {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
    justify-content: space-between;
    width: 20vw;
    margin-bottom: 3vh;
    border-radius: 0 0 5px 5px;
}

.portrait:hover {
    transform: scale(1.1) translateY(-10px);
    transition: 0.5s ease;
}

.portrait {
    transition: 0.5s ease;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding-inline: 1vw;
    height: 10vh;
    width: 100%;
    gap: 5px;
    background-color: black;
    border-radius: 5px 5px 0px 0px;
}

.name {
    align-self: center;
    font-size: 1.5rem;
    font-family: "Anton", sans-serif;
    color: white;
}

.role {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 0.5vw;
}

.role img {
    height: 3vh;
}

.btn {
    width: 100%;
    padding: 10px;
    align-self: center;
    background-color: black;
    border: none;
    color: white;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border-radius: 0px 0px 5px 5px;
    letter-spacing: 0.1vw;
}